main .form-control
{
    /* center form controls */
    /* display: inline-block; */

    /* override Bootstrap's 100% width for form controls */
    width: 100%;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

ul {
    list-style: none;
    text-align: left;
}
li {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

.massege {
    position: relative;;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    text-align: left;
}

.massege .buttons {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-left: 5px;
}

textarea {
    min-width: 100%;
}

.alert-fixed {
    display: none;
}

.fixed-input {
    position: fixed;
    bottom: 0;
    right: 10px;
    left: 10px;
    margin: 10px, 15px;
}

.wrapper{  
    display: block;  
    max-height: 65vh; 
}