body {
    background: url("/static/background(500).png");
}

main .form-control
{
    /* center form controls */
    /* display: inline-block; */

    /* override Bootstrap's 100% width for form controls */
    width: 100%;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.massege, .answer {
    position: relative;;
    border: 1px solid grey;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    text-align: left;
}

.massege .buttons, .cancel-btn{
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-left: 5px;    
}
.massege button, .cancel-btn {
    padding: 2px 5px;
}

textarea {
    min-width: 100%;
}

.alert-fixed {
    display: none;
}

.fixed-input {    
    margin: 10px, 15px;
}

.answer {
    display: none;
    font-style: italic;
}

.quote {
    display: block;
    padding-left: 20px;
    padding-right: 50px;
    background-color: lightgrey;
    text-decoration: underline;
    font-style: italic;
}