{% extends "layout.html" %}

{% block title %}
    Channels
{% endblock %}

{% block main %}
<h2>Create channel:</h2>
<form action="/channels" method="POST">
<input type="text" name="newChannel" id="channel" placeholder="My channel">
<button type="submit" id="createChannel">Create</button>
</form>
<h2>Connect to existing chanel:</h2>
<hr>
{% for channel in channels_list %}
    <ul>
        <li> <a href="{{url_for('index', channel=channel)}}" class="btn btn-secondary btn-block" data-chanel={{channel}}>{{channel}}</a></li>
    </ul>   
{% endfor %}
{% endblock %}