{% extends "layout.html" %}

{% block script %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script id="chat-massege" type="text/x-handlebars-template">
    {% raw -%}
    <div class="massege" id="{{id}}">
        
        <div class="massege-title">         
            <b>{{ nick }}:</b> <span class="small text-muted">({{ date }})</span>            
        </div>
        <div class="buttons">
            {{#if owner}}
            <button class="btn btn-outline-dark close-btn" data-id="{{id}}">Delete</button>
            {{else}} 
            <button class="btn btn-outline-info answer-btn">Answer</button>
            {{/if}} 
        </div>
        
        <div class="massege-body">
            <span id="quote" class="quote">{{ quote }}</span>
            <p>{{ text }}</p>              
        </div> 
        
    </div>
    {%- endraw %}
</script>
{% endblock %}

{% block title %}

{% endblock %}

{% block main %}

<!-- Create channel modal -->
<div class="modal fade" id="createChannelModal" tabindex="-1" role="dialog" aria-labelledby="createChannelModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="createChannelModalTitle">Create channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form action="/" id="createForm" method="POST">                
                <label for="createChannel"><span class="small text-center text-muted">Enter the name of channel</span class="small text-center text-muted"></label><br>
                    <input autocomplete="off" autofocus class="form-control" name="channel" id="createChannel" placeholder="My channel" type="text">
                    <div class="alert alert-danger alert-fixed"></div>
                <button type="submit" class="btn btn-primary btn-block mt-2">Create</button>            
            </form>            
        </div>
        <div class="modal-footer">
            
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
        </div>
    </div>
    </div>
</div>
<div class="wrapper">
<div id="new-masseges">

</div>
<ul id="masseges">  
</ul>
</div>

    <div class="fixed-input">        
            <div class="input-group">                                            
                <select class="custom-select " id="selectChannels">
                    <option value="default" disabled selected>Chouse the channel</option>
                    {% for channel in channels_list %}
                    <option value="{{ channel }}">{{ channel }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" id="connectButton" type="button">Connect</button>
                    <button class="btn btn-outline-success" id="createButton" type="button">Create</button>
                </div>
            </div>
            
            <div class="answer" id="answer">
                <span id="answer-text"></span>
                <button type="button" class="btn btn-outline-secondary cancel-btn">Cancel</button>
            </div>
            <div class='mb-3'>                         
                <textarea name="inputMassege" id="inputMassege" rows="3"></textarea>
                <br>
                <button type="submit" id="submitButton" class="btn btn-outline-primary btn-block">Submit</button>        
            </div>
    </div>  


{% endblock %}