{% extends "layout.html" %}

{% block script %} 
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1 class="welcome">Welcome to chudo-chat</h1>
    <form action="/login" id="loginForm" method="POST">
        <div class="form-group">
            <label for="nickname"><span class="small text-center text-muted">Chose your nickname</span class="small text-center text-muted"></label><br>
            <input autocomplete="off" autofocus class="form-control" name="nickname" id="nickname" placeholder="Nickname" type="text">
            <div class="alert alert-danger alert-fixed"></div>
        </div>                
        <button class="btn btn-primary" type="submit">Log In</button>        
    </form>
    
{% endblock %}
